h1{
    width: 300px;
    margin: 0 auto;
    font-size: 60px;
}

#tablero{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 800px;
    height: 800px;
    margin: 0 auto;
}

.casilla{
    border: solid 1px black;
    background-size: cover;
}