h1{
    width: 300px;
    margin: 0 auto;
    font-size: 50px;
}

#tablero{
    display: grid;
    grid-template-rows: repeat(1fr, 8);
    grid-template-columns: repeat(1fr, 8);
    width: 800px;
    height: 800px;
}

#tablero > div{
    border: solid 1px black;
}